#calculator-popover {
    background-color: #858694;
}

#converter-popover {
    max-width: 400px;
    background-color: #858694;
}

.header-button-bar {
    padding: 0px;
}

.header-button-bar .icon {
    width: 50px;
    cursor: pointer;
}