.recipe-name{
    font-size: 50px;
}

.recipe-preview{
    border-style: double;
    border-width: 5px;
    padding: 10px;
    border-color: black;
    box-sizing: content-box;
    margin-top: 10px;
}

.icon{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 38px;
    width: 38px;
    padding: 5px;
    display: inline-block;
}

.recipe-icon{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 121.6px;
}

.recipe-description{
    display: inline-block;
}

.recipe-description img{
    cursor: inherit;
}